body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  rgb(78, 65, 223);;
}

header {
    background-color:  rgb(78, 65, 223);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
}

.content {
    background-color:  rgb(82, 72, 195);
    padding: 20px;
    
    border-radius: 10px;
    height:560px;
    color:white;
   
    
}

.pageTitle{
  color:white;
  text-decoration-line: underline;
}

#questionTwo{
    color:white;
}

#questionThree{
    color:white;
}

#questionFour{
    color:white;
}

#questionFive{
    color:white;
}

#questionSix{
    color:white;
}

#questionSeven{
    color:white;
}

#questionEight{
    color:white;
}

#questionNine{
    color:white;
}

#questionTen{
    color:white;
}

.answerOption{
    color:white;
}

.answerOptionLabel{
    color:white;
}



.continue{
color:white;
text-align: center;
background-color: rgb(78, 65, 223) ;
border-radius: 10px;
font-size: 30px;
}


.continue:hover{
color:blueviolet;  
}



footer {
    background-color:  rgb(78, 65, 223);
    color: white;
    text-align: center;
    padding: 10px;
}
