* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif 
  }
  .gameTitle{
      background-color:rgb(78, 65, 200);
      overflow: hidden;
      color:white;
      text-align: center;
      font-size: 50px;
      text-decoration-line: underline;
      
  }
  
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color:  rgb(78, 65, 200);
    
  }
  
  
  
  /* Style the content */
  .content {
    background-color: rgb(78, 65, 223);
    margin-left: 75px;
    margin-right: 75px;
    height: 610px;
     
    
  }
  
  .pageTitle{
      
      color:white;
      font-size: 65px;
      text-decoration-line: underline;
      background-color:  rgb(78, 65, 223);
      margin-left: 25px;
  }
  
  .display{ 
      color:white;
      font-size: 35px;
      margin-left: 25px;
  }
  
  
  
  .continue{ 
      color:white;
      font-size: 50px;
      
      border-radius: 25px;
      padding: 10px;
      width: fit-content;
      margin-top: 100px;
      margin-left: 25px;
  }
  
  
  
  /* Style the footer */
  .footer {
      
    background-color: rgb(78, 65, 200);
      overflow: hidden;
      color:white;
    padding: 10px;
    margin-top:120px;
    margin-left: -75px;
    
  }
